/10-3-2078/nbproject/private/
/10-3-2078/build/
/Vehicle/nbproject/private/
/Vehicle/build/
/FindMinMax/nbproject/private/
/FindMinMax/build/
/BMI/nbproject/private/
/BMI/build/
/TrainerApp/nbproject/private/
/TrainerApp/build/
/DBProject/nbproject/private/
/Exception/nbproject/private/
/Exception/build/
/Exception2/nbproject/private/
/Exception2/build/
/SitPhoneBook/nbproject/private/
/Exception3/nbproject/private/
/Exception3/build/
/CheckWord/nbproject/private/
/CheckWord/build/
/AvgException/nbproject/private/
/AvgException/build/
/SitPhoneBook/build/
/GUI_Tue/nbproject/private/
/GUI_Tue/build/
/SITPhoneBook2/nbproject/private/
/SITPhoneBook2/build/
/CalculateDiscount/nbproject/private/
/CalculateDiscount/build/