/10-3-2078/nbproject/private/
/10-3-2078/build/
/Vehicle/nbproject/private/
/Vehicle/build/
/FindMinMax/nbproject/private/
/FindMinMax/build/
/BMI/nbproject/private/
/BMI/build/
/TrainerApp/nbproject/private/
/TrainerApp/build/
/DBProject/nbproject/private/